<% if flash["notice"] %>
  <ul>
    <% flash["notice"].each do |notice| %>
      <li>
        <%= notice %>
      </li>
    <% end %>
  </ul>

<% end %>

<h1><%= @cat.name %></h1>

<p>Name: <%= @cat.name %></p>
<% if @cat.human %>
  <% owner = @cat.human.name %>
<% else %>
  <% owner = "I'm a stray :(" %>
<% end %>
<p>Owner: <%= owner %></p>
<a href="/cats">Back To Cats</a>
